@using BPR.Mediator.Services
@using BPR.Mediator.Interfaces
@inject IRuleService Service

@if (_rules is null)
{
    <p>Loading...</p>
}
else if (!_rules.Any())
{
    <p>No rules found in the database...</p>
}
else
{
    @foreach (var item in _rules)
    {
        <div class="form-check">
            <input class="custom-checkbox" type="checkbox" id="@item.Name" checked= "@item.IsChecked" @onchange="(e) => CheckboxChanged(e, item)" />
            <label for="@item.Name">@item.Name</label>
            @if (!string.IsNullOrWhiteSpace(item.Description))
            {
                <div>
                    <i>@item.Description</i>
                </div>
            }
        </div>
    }
}