@using BPRBlazor.Components.Common
@using BPRBlazor.Services
@using BPRBE.Services
@using BPR.Analysis.Services
@using AutoMapper
@using BPRBlazor.State
@inject IHttpService HttpService
@inject IDependencyComponentService DependencyComponentService
@inject ICodebaseService CodebaseService
@inject IAnalysisService AnalysisService
@inject IMapper Mapper
@inject StateContainer StateContainer
@implements IDisposable

@page "/"

<div>
    <SelectArchitectureComponent ArchitectureModelChanged="HandleArchitectureModelOnChange"/>
</div>
<label for="inputFile" class="btn btn-primary me-1">
    <InputFile id="inputFile" class="d-none" OnChange="LoadCodeSource" accept=".7z"/>
    Upload src.7z file
</label>

<div class="container-fluid">
    <div class="row">
        @if (_unmappedNamespaceComponents.Any())
        {
            <div class="col-lg-3 mt-3">
                <p>Unmapped namespaces:</p>
                <div class="namespace-container" 
                     ondragover="return false;" 
                     @ondrop="() => HandleDrop()">
                    @foreach (var namespaceComponent in _unmappedNamespaceComponents)
                    {
                        <div class="namespace-component"
                             draggable="true" 
                             @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                            <p>@namespaceComponent.Name</p>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-9">
                @if (_architecturalModelViewModel != default!)
                {
                    <div class="container-fluid">
                        <div class="row">

                            @foreach (var component in _architecturalModelViewModel.Components)
                            {
                                <div class="col-6 mt-3">
                                    <h3>@component.Name</h3>
                                    <div class="namespace-container" 
                                         ondragover="return false;" 
                                         @ondrop="() => HandleDrop(component)">
                                        @foreach (var namespaceComponent in component.NamespaceComponents)
                                        {
                                            <div class="namespace-component" 
                                                 draggable="true" 
                                                 @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                                                <p>@namespaceComponent.Name</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="col-12">
                @if (_architecturalModelViewModel != default!)
                {
                    <div class="container-fluid">
                        <div class="row">

                            @foreach (var component in _architecturalModelViewModel.Components)
                            {
                                <div class="col-6 mt-3">
                                    <h3>@component.Name</h3>
                                    <div class="namespace-container" 
                                         ondragover="return false;" 
                                         @ondrop="() => HandleDrop(component)">
                                        @foreach (var namespaceComponent in component.NamespaceComponents)
                                        {
                                            <div class="namespace-component" 
                                                 draggable="true"
                                                 @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                                                <p>@namespaceComponent.Name</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div>
    <SelectRuleComponent Value="HandleRule"/>
</div>

<p class="error m-3">@_errorMessage</p>
<p class="analysis m-3">@_analysisMessage</p>
<button class="btn btn-primary m-5 float-end" @onclick="StartAnalysis">
    Start Analysis
</button>