@using BPRBlazor.Components.Common
@using BPRBlazor.Services
@using BPR.Analysis.Services
@using AutoMapper
@using BPR.Mediator.Services
@using BPRBlazor.State
@inject IHttpService HttpService
@inject IDependencyComponentService DependencyComponentService
@inject ICodebaseService CodebaseService
@inject IAnalysisService AnalysisService
@inject IMapper Mapper
@inject StateContainer StateContainer
@inject IRuleService RuleService
@inject IJSRuntime JS
@implements IDisposable

@page "/"

<div class="mb-3">
    <h3>Step 1</h3>
    <p>Select an architecture model</p>
    <SelectArchitectureComponent ArchitectureModelChanged="HandleArchitectureModelOnChange"/>
</div>

<div class="mb-3">
    <h3>Step 2</h3>
    <p>Upload file containing source code</p>
    <div class="d-flex gap-2 align-items-center">
        <label for="inputFile" class="btn btn-secondary">
            <InputFile id="inputFile" class="d-none" OnChange="LoadCodeSource" accept=@string.Join(", ", _allowedFileTypes) />
            Upload file
        </label>
        <a>@_uploadedFile?.Name</a>
    </div>
</div>

<div class="mb-3">
    <h3>Step 3</h3>
    <p>Select rules to analyse against</p>
    <SelectRuleComponent OnChange="HandleRule" />
</div>

@* <div class="row mb-3">
    @if (_unmappedNamespaceComponents.Any())
    {
        <div class="col-lg-3 mt-3">
            <p>Unmapped namespaces:</p>
            <div class="namespace-container" 
                    ondragover="return false;" 
                    @ondrop="() => HandleDrop()">
                @foreach (var namespaceComponent in _unmappedNamespaceComponents)
                {
                    <div class="namespace-component"
                            draggable="true" 
                            @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                        <p>@namespaceComponent.Name</p>
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-9">
            @if (_selectedArchitectureViewModel is not null)
            {
                <div class="container-fluid">
                    <div class="row">

                        @foreach (var component in _selectedArchitectureViewModel.Components)
                        {
                            <div class="col-6 mt-3">
                                <h3>@component.Name</h3>
                                <div class="namespace-container" 
                                        ondragover="return false;" 
                                        @ondrop="() => HandleDrop(component)">
                                    @foreach (var namespaceComponent in component.NamespaceComponents)
                                    {
                                        <div class="namespace-component" 
                                                draggable="true" 
                                                @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                                            <p>@namespaceComponent.Name</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-12">
            @if (_selectedArchitectureViewModel is not null)
            {
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var component in _selectedArchitectureViewModel.Components)
                        {
                            <div class="col-6 mt-3">
                                <h3>@component.Name</h3>
                                <div class="namespace-container" 
                                        ondragover="return false;" 
                                        @ondrop="() => HandleDrop(component)">
                                    @foreach (var namespaceComponent in component.NamespaceComponents)
                                    {
                                        <div class="namespace-component" 
                                                draggable="true"
                                                @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                                            <p>@namespaceComponent.Name</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div> *@

<div class="row mb-3">
    <h3>Step 4</h3>
    <p>Map namespaces according to the selected architectural model</p>
    @if (_unmappedNamespaceComponents is not null && _unmappedNamespaceComponents.Any())
    {
        <div class="col-4">
            <h4>Unmapped namespaces:</h4>
            <div class="namespace-container" ondragover="return false;" @ondrop="() => HandleDrop()">
                @foreach (var namespaceComponent in _unmappedNamespaceComponents)
                {
                    <div class="namespace-component btn btn-danger" draggable="true" @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                        <p>@namespaceComponent.Name</p>
                    </div>
                }
            </div>
        </div>
    }
    @if (_selectedArchitectureViewModel is not null)
    {
        <div class="col">
            <h4>Architectural model</h4>
            @foreach (var component in _selectedArchitectureViewModel.Components)
            {
                <div class="mt-3">
                    <h5>@component.Name</h5>
                    <div class="namespace-container" ondragover="return false;" @ondrop="() => HandleDrop(component)">
                        @foreach (var namespaceComponent in component.NamespaceComponents)
                        {
                            <div class="namespace-component btn btn-success" draggable="true" @ondragstart=@(() => HandleDragStart(namespaceComponent))>
                                <p>@namespaceComponent.Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

<button class="btn btn-primary mb-3" @onclick="StartAnalysis">Start Analysis</button>
<p class="@_resultMessageCss">@_resultMessage</p>
@if (isAnalysisComplete)
{
    <a href="results">See analysis results</a>
}