@using BPR.Mediator.Utils

@if (ExternalApisCalls.Any())
{
    <Table Data="@ExternalApisCalls" HeaderOne="External APIs" HeaderTwo="Number of references" />
}


@foreach (var keyValue in EndOfLifeFrameworks.SelectMany(endOfLifeFramework => endOfLifeFramework))
{
    <div class="table-container my-5">
        <table>
            <thead>
            <tr>
                <th>@keyValue.Key</th>
                <th class="col-1 text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@keyValue.Value.Version</td>
                <td class="col-1 text-center text-nowrap">
                    <a style="background-color: @(keyValue.Value.Status ? "orangered" : "lightgreen"); padding: 6px; border-radius: 6px;">@(keyValue.Value.Status ? "Unsupported" : "Supported")</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
}
