@typeparam T

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>@HeaderOne</th>
                <th class="text-center @(PushLastColumnRight ? "col-2" : "")">@HeaderTwo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    <td>@item.Key</td>
                    <td class="text-center @(PushLastColumnRight ? "col-2" : "") text-nowrap">@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
